<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot2demo.mapper.ParkRecordMapper">
    <delete id="deleteDataByDateTime">
        DELETE
        FROM
        park_record
        WHERE
        1 = 1
        <if test="deleteDTO.dateTime != null">
            AND DATE_FORMAT( departure_time, '%Y-%m-%d' ) = #{deleteDTO.dateTime}
        </if>
    </delete>

    <select id="listDownLoad1" parameterType="model.vo.ParkRecordDownLoadVO" resultType="model.vo.ParkRecordDownLoadVO">
        SELECT ''                                   AS num,
               DATE_FORMAT(departure_time, '%m.%d') AS dateTime,
               '07:00-18:00' AS time,
	CASE

		WHEN out_door = '苏州淞泽一区停车场北门' THEN
		'1号门(一区北门)'
		WHEN out_door = '苏州淞泽一区停车场西南门' THEN
		'2号门(一区西门)'
        END out_door
        ,
	SUM( total_billing ) AS total_billing,
	SUM( offline_payable ) AS offline_payable
        FROM
            park_record
        WHERE
            1 = 1
          AND park_group_name = '苏州淞泽一区停车场组'
          AND departure_time BETWEEN
        #{starTime}
        AND
        #{endTime}
        GROUP
        BY
        out_door
        UNION
        ALL
        SELECT ''                                   AS num,
               DATE_FORMAT(departure_time, '%m.%d') AS date_time,
               '07:00-18:00' AS time,
	CASE

		WHEN out_door = '苏州淞泽二区停车场南门' THEN
		'3号门(二区南门)'
		WHEN out_door = '苏州淞泽二区停车场西门' THEN
		'4号门(二区西门)'
        END out_door
        ,
	SUM( total_billing ) AS total_billing,
	SUM( offline_payable ) AS offline_payable
        FROM
            park_record
        WHERE
            1 = 1
          AND park_group_name = '苏州淞泽二区停车场组'
          AND departure_time BETWEEN
        #{starTime}
        AND
        #{endTime}
        GROUP
        BY
        out_door
        ORDER
        BY
        out_door
    </select>
    <select id="listDownLoad2" resultType="model.vo.ParkRecordDownLoadVO">
        SELECT ''                                   AS num,
               DATE_FORMAT(departure_time, '%m.%d') AS date_time,
               '18:00-24:00' AS time,
 CASE
		WHEN out_door = '苏州淞泽一区停车场北门' THEN
		'1号门(一区北门)'
		WHEN out_door = '苏州淞泽一区停车场西南门' THEN
		'2号门(一区西门)'
        END out_door
        ,
	SUM( total_billing ) AS total_billing,
	SUM( offline_payable ) AS offline_payable
        FROM
            park_record
        WHERE
            1 = 1
          AND park_group_name = '苏州淞泽一区停车场组'
          AND departure_time BETWEEN
        #{starTimeTwo}
        AND
        #{endTimeTwo}
        GROUP
        BY
        out_door
        UNION
        ALL
        SELECT ''                                   AS num,
               DATE_FORMAT(departure_time, '%m.%d') AS dateTime,
               '18:00-24:00' AS time,
 CASE

		WHEN out_door = '苏州淞泽二区停车场南门' THEN
		'3号门(二区南门)'
		WHEN out_door = '苏州淞泽二区停车场西门' THEN
		'4号门(二区西门)'
        END out_door
        ,
	SUM( total_billing ) AS total_billing,
	SUM( offline_payable ) AS offline_payable
        FROM
            park_record
        WHERE
            1 = 1
          AND park_group_name = '苏州淞泽二区停车场组'
          AND departure_time BETWEEN
        #{starTimeTwo}
        AND
        #{endTimeTwo}
        GROUP
        BY
        out_door
        ORDER
        BY
        out_door
    </select>
    <select id="listDownLoad3" resultType="model.vo.ParkRecordDownLoadVO">
        SELECT ''                                   AS num,
               DATE_FORMAT(departure_time, '%m.%d') AS dateTime,
               '00:00-07:00' AS time,
 CASE

		WHEN out_door = '苏州淞泽一区停车场北门' THEN
		'1号门(一区北门)'
		WHEN out_door = '苏州淞泽一区停车场西南门' THEN
		'2号门(一区西门)'
        END out_door
        ,
	SUM( total_billing ) AS total_billing,
	SUM( offline_payable ) AS offline_payable
        FROM
            park_record
        WHERE
            1 = 1
          AND park_group_name = '苏州淞泽一区停车场组'
          AND departure_time BETWEEN
        #{starTimeThree}
        AND
        #{endTimeThree}
        GROUP
        BY
        out_door
        UNION
        ALL
        SELECT ''                                   AS num,
               DATE_FORMAT(departure_time, '%m.%d') AS date_time,
               '00:00-07:00' AS time,
  CASE

		WHEN out_door = '苏州淞泽二区停车场南门' THEN
		'3号门(二区南门)'
		WHEN out_door = '苏州淞泽二区停车场西门' THEN
		'4号门(二区西门)'
        END out_door
        ,
	SUM( total_billing ) AS total_billing,
	SUM( offline_payable ) AS offline_payable
        FROM
            park_record
        WHERE
            1 = 1
          AND park_group_name = '苏州淞泽二区停车场组'
          AND departure_time BETWEEN
        #{starTimeThree}
        AND
        #{endTimeThree}
        GROUP
        BY
        out_door
        ORDER
        BY
        out_door
    </select>
</mapper>
